<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [dmgo]"/>

    <arg name="rviz" default="true"/>

      <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_damiao_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
          args="$(find legged_damiao_description)/urdf/robot.xacro $(arg robot_type)"/>

     <!-- <param name="legged_robot_description" textfile="$(find legged_damiao_description)/urdf/dmgo/dmgo.urdf"/> -->

    <rosparam file="$(find legged_gazebo)/config/default.yaml" command="load"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/>
    </include>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 0.5 -param legged_robot_description -urdf -model $(arg robot_type)
          -J LF_HAA 0.0 -J LF_HFE -0.0 -J LF_KFE -2.101 
          -J LH_HAA 0.0 -J LH_HFE -0.0 -J LH_KFE -2.101 
          -J RF_HAA 0.0 -J RF_HFE -0.0 -J RF_KFE -2.101 
          -J RH_HAA 0.0 -J RH_HFE -0.0 -J RH_KFE -2.101" 
          output="screen"/>
          
   
    <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 0.5 -param legged_robot_description -urdf -model $(arg robot_type)
          -J LF_HAA 0.0
          -J      LF_HFE -0.7
           -J     LF_KFE  -1.0
           -J     LH_HAA 0.0
           -J     LH_HFE -0.7
            -J    LH_KFE  -1.0
            -J    RF_HAA 0.0
            -J    RF_HFE -0.7
            -J    RF_KFE -1.0
             -J   RH_HAA 0.0
             -J   RH_HFE -0.7
            -J    RH_KFE -1.0" output="screen"/> -->

     <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find legged_controllers)/rviz/legged_robot.rviz" required="true" />

</launch>